#
# Enter your API key  - See: cloud.mongodb.com/settings/group
#
mmsApiKey=

#
# Hostname of the MMS monitoring web server.
#
mmsBaseUrl=https://api-agents.mongodb.com

# For additional optional settings, please see
# https://docs.cloud.mongodb.com/reference/monitoring-agent/
